html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: Josefin sans;
  background-color: hsl(236, 33%, 92%);
  background-image: url('/images/bg-desktop-light.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 40vh;
  transition: 2s ease-in-out;
}
.hide-for-mobile{
  @include breakpoint-down(medium){
    display: none;
  }
}

